doctype html
head
  meta(charset="UTF-8")
  link(rel="stylesheet" href="popup.css")
body
  .title Current balance
  .balance 13.37€
  .title Currently blacklisted sites
  table.sites
  .newItem
    input#newPage(type="text")
    button#addBtn(value="Add") Add
  script(src="jquery.js")
  script(src="popup.js")