body {
  width: 200px;
  color: #2C3E50;
  padding: 0 20px;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 16pt;
  margin-bottom: 2px;
  color: #34495E;
}

.balance {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 20pt;
  color: #16A085;
}

.remove {
  font-weight: bold;
  text-decoration: none;
  color: #E74C3C;
  text-align: right;
}

.sites2, .sites3 {
  margin: auto;
  color: #2C3E50;
}

.center {
  text-align: center
}

.highlight{
  color:#16A085;
}
.logo{
  font-size: 25px;
}
.breaker{
  margin: 0;
}

.form-control {
  height: auto;
}